.device:root {
  font-size: 16px;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  text-align: center;
}

/*
███████ ████████ ██    ██ ██      ███████
██         ██     ██  ██  ██      ██
███████    ██      ████   ██      █████
     ██    ██       ██    ██      ██
███████    ██       ██    ███████ ███████
*/
body {
  background-color: rgb(233, 150, 122);
  color: rgb(47, 52, 80);
}

header,
footer {
  background-color: rgb(47, 52, 80);
}

.main-content {
  background-color: #F1F1E6;
  background-color: #FFEFCA;
  border: 4px solid rgb(47, 52, 80);
}

.random,
.ve {
  color: rgb(255, 0, 0);
}

.color,
.ro {
  color: rgb(255, 254, 96);
}

.generator,
.na {
  color: rgb(58, 242, 35);
}

h1 {
  font-size: 2rem;
  font-weight: 300;
}

h2 {
  font-size: 2.6vw;
}

p.rgb {
  padding: 0 0 10px;
}

p.rgb,
footer p {
  font-size: 2vw;
}

.btn {
  background-color: rgb(47, 52, 80);
  border: 2px solid rgb(47, 52, 80);
  color: whitesmoke;
  font-size: 1.4vw;
}

/*
███    ███  █████  ██ ███    ██
████  ████ ██   ██ ██ ████   ██
██ ████ ██ ███████ ██ ██ ██  ██
██  ██  ██ ██   ██ ██ ██  ██ ██
██      ██ ██   ██ ██ ██   ████
*/
nav a {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-decoration: none;
}

nav .icon-wrapper {
  padding: 10px;
}

nav img {
  height: 60px;
  margin: 5px 5px 0 10px;
}

h1 {
  padding: 0 20px 0 0;
  text-transform: uppercase;
}

main {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.main-content {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 25vw;
}

h2 {
  margin: 2vw 0;
}

.btn-wrapper {
  margin: 2vw auto 2.5vw;
}

.btn {
  border-radius: 4px;
  cursor: pointer;
  margin-top: 0;
  padding: 10px;
}

.btn:hover:active {
  -webkit-transform: translateY(2px);
  -ms-transform: translateY(2px);
  transform: translateY(2px);
}

/*
███████  ██████   ██████  ████████ ███████ ██████
██      ██    ██ ██    ██    ██    ██      ██   ██
█████   ██    ██ ██    ██    ██    █████   ██████
██      ██    ██ ██    ██    ██    ██      ██   ██
██       ██████   ██████     ██    ███████ ██   ██
*/
footer,
.footer-wrapper,
footer p {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

footer {
  bottom: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.footer-wrapper {
  padding: 10px;
}

footer a {
  display: block;
  margin: 0 auto;
  text-decoration: none;
}

.footer-wrapper img {
  height: 60px;
  margin-right: 5px;
  width: 60px;
}

footer p {
  margin: 0 1.5vw 0.4vw 0;
}

footer span {
  margin-right: 2px;
}

/*
███    ███ ███████ ██████  ██  █████
████  ████ ██      ██   ██ ██ ██   ██
██ ████ ██ █████   ██   ██ ██ ███████
██  ██  ██ ██      ██   ██ ██ ██   ██
██      ██ ███████ ██████  ██ ██   ██
*/
@media screen and (min-width: 1301px) {
  body {
    height: 100vh;
  }

  .main-wrapper {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 80vh;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  h1 {
    margin-right: 30px;
  }

  .btn-wrapper:hover .btn {
    background-color: rgba(55, 62, 107, 0.9);
    color: whitesmoke;
  }
}

/*
 ██     ██████       ██████       ██████      ██████  ██   ██
███          ██     ██  ████     ██  ████     ██   ██  ██ ██
 ██      █████      ██ ██ ██     ██ ██ ██     ██████    ███
 ██          ██     ████  ██     ████  ██     ██       ██ ██
 ██     ██████       ██████       ██████      ██      ██   ██
*/
@media screen and (max-width: 1300px) {
  .main-content {
    border: 5px solid rgb(47, 52, 80);
    padding: 20px;
  }

  .btn {
    font-size: 1rem;
    padding: 20px 40px;
  }
}

@media screen and (max-width: 1300px) and (orientation: portrait) {
  .main-wrapper {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vw;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .main-content {
    width: 50vw;
  }

  h1 {
    font-size: 1.6rem;
  }

  h2 {
    font-size: 3.6vw;
  }

  p,
  footer p {
    font-size: 3vw;
  }
}

@media screen and (max-width: 1300px) and (orientation: landscape) {
  .main-wrapper {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 60vw;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .main-content {
    width: 40vw;
  }

  .footer-wrapper {
    padding: 0;
  }
}

/*
 ██      ██████       ██████       ██████      ██████  ██   ██
███     ██  ████     ██  ████     ██  ████     ██   ██  ██ ██
 ██     ██ ██ ██     ██ ██ ██     ██ ██ ██     ██████    ███
 ██     ████  ██     ████  ██     ████  ██     ██       ██ ██
 ██      ██████       ██████       ██████      ██      ██   ██
*/
@media screen and (max-width: 1001px) {
  h2 {
    margin-top: 20px;
  }

  .rgb {
    margin: 10px;
    padding: 10px;
  }

  .btn {
    margin: 10px;
  }
}

@media screen and (max-width: 1001px) and (orientation: portrait) {
  .main-wrapper {
    height: 70vh;
  }
}

@media screen and (max-width: 1001px) and (orientation: landscape) {
  main {
    height: 85%;
  }
}

@media screen and (max-height: 700px) and (max-width: 1000px) and (orientation: landscape) {
  footer {
    position: relative;
  }
}

/*
 ██████  ██   ██  ██████      ██████  ██   ██
██       ██   ██ ██  ████     ██   ██  ██ ██
███████  ███████ ██ ██ ██     ██████    ███
██    ██      ██ ████  ██     ██       ██ ██
 ██████       ██  ██████      ██      ██   ██
*/
@media screen and (max-width: 640px) and (orientation: portrait) {
  body {
    height: 100%;
  }

  footer {
    bottom: 0;
    position: absolute;
  }

  .footer-wrapper img {
    height: 60px;
  }
}

@media screen and (max-width: 700px) and (orientation: landscape) {
  .btn {
    font-size: 1rem;
    padding: 10px 60px;
  }
}

/*
██   ██      █████       ██████      ██████  ██   ██
██   ██     ██   ██     ██  ████     ██   ██  ██ ██
███████      █████      ██ ██ ██     ██████    ███
     ██     ██   ██     ████  ██     ██       ██ ██
     ██      █████       ██████      ██      ██   ██
*/
@media screen and (max-width: 480px) {
  h1 {
    font-size: 1rem;
  }

  nav img {
    height: 40px;
    margin: 0;
  }

  .main-wrapper {
    height: 75vh;
  }

  .main-content {
    border: 3px solid rgb(47, 52, 80);
    padding: 10px;
    width: 60vw;
  }

  .btn {
    font-size: 1rem;
    margin: 10px 0;
    padding: 20px 40px;
  }

  h2 {
    font-size: 5.6vw;
    margin: 20px 10px 10px;
  }

  p.rgb {
    font-size: 5vw;
    margin: 10px;
    padding: 10px;
  }

  footer p {
    font-size: 4vw;
  }

  .footer-wrapper {
    padding: 10px 0;
  }

  footer p {
    font-size: 5vw;
  }

  footer span {
    margin: 0;
  }
}

/*
██████      ███████      ██████      ██████  ██   ██
     ██          ██     ██  ████     ██   ██  ██ ██
 █████          ██      ██ ██ ██     ██████    ███
     ██        ██       ████  ██     ██       ██ ██
██████         ██        ██████      ██      ██   ██
*/
@media screen and (max-width: 370px) {
  .main-wrapper {
    height: 75vh;
  }

  .footer-wrapper {
    padding: 3vw 5vw 3vw 0;
  }

  .btn {
    padding: 10px;
  }

  footer p {
    padding: 10px 0 0;
  }
}