* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  text-align: center;
}

body {
  position: relative;
  min-height: 100vh;
}

/*
███████ ████████ ██    ██ ██      ███████
██         ██     ██  ██  ██      ██
███████    ██      ████   ██      █████
     ██    ██       ██    ██      ██
███████    ██       ██    ███████ ███████
*/
:root {
  --blue: rgb(47, 52, 80);
  --cream: rgba(255, 239, 202, 1);
}

body {
  background-color: rgb(233, 150, 122);
  color: var(--blue);
  font-family: 'Montserrat', sans-serif;
  transition: background-color ease 400ms;
}

header,
footer {
  background-color: var(--blue);
}

.random,
.ver {
  color: rgb(58, 242, 35);
}

.color,
.ona {
  color: whitesmoke;
}

.generator,
.hub {
  color: rgb(255, 0, 0);
}

h1 {
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
}

h2 {
  font-size: 2rem;
}

.main-content {
  background-color: var(--cream);
  border: 4px double var(--blue);
  border-radius: 16px;
}

input,
input:focus {
  background-color: var(--cream);
  color: var(--blue);
  font-size: 1.6rem;
}

input {
  font-family: 'Montserrat', sans-serif;
}

input:focus {
  outline: none;
}

.hex_value {
  text-transform: uppercase;
}

.btn {
  background-color: var(--blue);
  border: none;
  border-radius: 4px;
  color: whitesmoke;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
  padding: 15px 30px;
}

p {
  font-size: 1.6rem;
}

footer p {
  font-size: 1.2rem;
}

/*
███    ███  █████  ██ ███    ██
████  ████ ██   ██ ██ ████   ██
██ ████ ██ ███████ ██ ██ ██  ██
██  ██  ██ ██   ██ ██ ██  ██ ██
██      ██ ██   ██ ██ ██   ████
*/
nav {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-decoration: none;
}

nav .icon-wrapper {
  padding: 10px;
}

nav img {
  height: 60px;
  height: 7vh;
  margin: 5px 5px 0 10px;
}

.main-content {
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: space-evenly;
  margin: 0 auto;
  margin-top: 15vh;
  width: 550px;
}

input {
  border-style: dashed;
  border-color: var(--blue);
  cursor: crosshair;
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  width: 380px;
  /* width: max-content; */
}

main p {
  margin: 0 auto;
  width: max-content;
}

.btn:hover:active {
  -webkit-transform: translateY(2px);
  -ms-transform: translateY(2px);
  transform: translateY(2px);
}

/*
████████  ██████   ██████  ██   ████████ ██ ██████
   ██    ██    ██ ██    ██ ██      ██    ██ ██   ██
   ██    ██    ██ ██    ██ ██      ██    ██ ██████
   ██    ██    ██ ██    ██ ██      ██    ██ ██
   ██     ██████   ██████  ███████ ██    ██ ██
*/
.tooltiptext {
  visibility: hidden;
  background-color: var(--cream);
  color: black;
  border-radius: 6px;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 15px 0;
  left: 0;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  width: 380px;
  z-index: 1;
}

/*
███████  ██████   ██████  ████████ ███████ ██████
██      ██    ██ ██    ██    ██    ██      ██   ██
█████   ██    ██ ██    ██    ██    █████   ██████
██      ██    ██ ██    ██    ██    ██      ██   ██
██       ██████   ██████     ██    ███████ ██   ██
*/
footer {
  bottom: 0;
  position: absolute;
  width: 100%;
}

footer a {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  padding: 10px;
  text-decoration: none;
}

.footer-wrapper img {
  width: 60px;
}

.footer-text-wrapper p {
  display: flex;
  margin-left: 5px;
}

/*
███    ███ ███████ ██████  ██  █████
████  ████ ██      ██   ██ ██ ██   ██
██ ████ ██ █████   ██   ██ ██ ███████
██  ██  ██ ██      ██   ██ ██ ██   ██
██      ██ ███████ ██████  ██ ██   ██
*/
@media screen and (min-width: 1301px) {
  .btn-wrapper:hover .btn {
    background-color: rgba(55, 62, 107, 0.9);
  }
}

/*
 ██     ██████       ██████       ██████      ██████  ██   ██
███          ██     ██  ████     ██  ████     ██   ██  ██ ██
 ██      █████      ██ ██ ██     ██ ██ ██     ██████    ███
 ██          ██     ████  ██     ████  ██     ██       ██ ██
 ██     ██████       ██████       ██████      ██      ██   ██
*/
@media screen and (max-width: 1300px) {
  .main-content {
    border: 5px double var(--blue);
  }
}

/*
 ██      ██████       ██████       ██████      ██████  ██   ██
███     ██  ████     ██  ████     ██  ████     ██   ██  ██ ██
 ██     ██ ██ ██     ██ ██ ██     ██ ██ ██     ██████    ███
 ██     ████  ██     ████  ██     ████  ██     ██       ██ ██
 ██      ██████       ██████       ██████      ██      ██   ██
*/
@media screen and (max-width: 1001px) {
  .main-content {
    width: 450px;
  }

  h2 {
    font-size: 1.8rem;
    margin: 30px 0 20px;
  }

  input {
    padding: 20px 0;
    margin: 10px auto;
  }

  .btn {
    margin: 30px 0;
  }
}

@media screen and (max-width: 1001px) and (orientation: landscape) {
  body {
    /* min-height: 700px; */
    /* min-height: 100vh; */
  }
}

/*
 ██████  ██   ██  ██████      ██████  ██   ██
██       ██   ██ ██  ████     ██   ██  ██ ██
███████  ███████ ██ ██ ██     ██████    ███
██    ██      ██ ████  ██     ██       ██ ██
 ██████       ██  ██████      ██      ██   ██
*/
@media screen and (max-width: 640px) {

  input,
  input:focus {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 640px) and (orientation: portrait) {
  .main-content {
    width: 450px;
  }

  .footer-wrapper img {
    height: 60px;
  }
}

/*
██   ██      █████       ██████      ██████  ██   ██
██   ██     ██   ██     ██  ████     ██   ██  ██ ██
███████      █████      ██ ██ ██     ██████    ███
     ██     ██   ██     ████  ██     ██       ██ ██
     ██      █████       ██████      ██      ██   ██
*/
@media screen and (max-width: 480px) {
  h1 {
    font-size: 1.1rem;
  }

  h2 {
    font-size: 1rem;
  }

  nav img {
    height: 40px;
    margin: 0;
  }

  .main-content {
    border: 3px solid var(--blue);
    width: 250px;
  }

  input {
    width: 80%;
  }

  .btn {
    font-size: 1rem;
  }

  p {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 380px) {
  .main-content {
    height: 340px;
    margin-top: 80px;
  }

  h2 {
    font-size: 1.4rem;
    margin: 15px 0 10px;
  }

  input {
    padding: 10px 0;
    margin: 5px auto;
  }

  .btn {
    margin: 20px 0;
    padding: 25px 15px;
  }
}